{
  "extends": ["stylelint-config-standard", "stylelint-config-prettier", "stylelint-config-standard-scss"],
  "defaultSeverity": "error",

  "plugins": [ "stylelint-order" ],
  "rules": {
    "number-leading-zero": null,
    "selector-class-pattern": null,
    "block-opening-brace-space-before": "always",
    "order/properties-alphabetical-order": true,
    "at-rule-no-unknown": [true, {
      "ignoreAtRules": ["include", "extend", "mixin", "function", "return", "if", "use", "each","else"]
    }],
    "selector-pseudo-class-no-unknown": [true, {
      "ignorePseudoClasses": ["export"]
    }],
    "color-no-hex": true
  }
}